include _countdown

mixin card(auction, user,index)
  .uk-card.uk-card-default
    .uk-card-header
      .uk-grid-small.uk-flex-middle(uk-grid='')
        .uk-width-expand
          h3.uk-card-title.uk-margin-remove-bottom=auction.title
    .uk-card-body.uk-padding-remove
      .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1', uk-slideshow='')
        ul.uk-slideshow-items
          each image in auction.images
            li
              img(src=image, alt='', uk-cover)
        a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-previous='', uk-slideshow-item='previous')
        a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-next='', uk-slideshow-item='next')
      
      div.uk-padding-small.uk-flex.uk-flex-middle.uk-flex-column
        h5=new Date(auction.initial_date).getTime() < Date.now() ? "La subasta termina en:" : "La subasta inicia en:"
        - const date = new Date(auction.initial_date).getTime() < Date.now() ? auction.end_date:auction.initial_date      
        +countdown(date)
    .uk-card-footer
      p.uk-text-meta.uk-margin-small=`Lider: ${(auction.lider && auction.lider.author) ? auction.lider.author.username : 'Sin lider'} - Oferta: ${(auction.lider && auction.lider.bid) ? auction.lider.bid : 'Sin oferta'} ${auction.currency}`
      p.uk-text-meta.uk-margin-small=`Precio inicial $${auction.initial_price} ${auction.currency}`
      if user._id.toString() !== auction.author.toString()
        button.uk-button.uk-button-primary(href="#toggle-animation" uk-toggle=`target: #auction-${index}; animation: uk-animation-fade`) Ofertar
        div(id=`auction-${index}` hidden aria-hidden="true")
          form(action=`/bids/${auction._id}` method="post")
            .uk-flex
              div
                label(class="uk-form-label" for="") Bid
                input.uk-input(type="number" name="bid")
              button.uk-button(type="submit") create bid
      else
        a.uk-button.uk-button-primary(href=`/auctions/update/${auction._id}`) edit
        a.uk-button.uk-button-primary(href=`/auctions/delete/${auction._id}`) delete